/* цвет основного текста #757575 */
/* вторичный цвет текста rgba(117, 117, 117, 1) */
/* цвет текста для футер-адрес rgba(255, 255, 255, 0.6 */
/* цвет фона футер #2F303A */
/* цвет фона вторичный #F5F4FA */
/* белый #FFFFFF */
/* черный #000000 */
/* jbsfHzdCypFgKQ8 */

:root {
	--card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	--bg-color-overlay: #C4C4C4;
	--primary-title-color: #212121;
	--primary-text-color: rgba(117, 117, 117, 1);
	--primary-white-color: #ffffff;
	--primary-black-color: #000000;
	--secondary-bg-color: #f5f4fa;
	--footer-bg-color: #2f303a;
	--accent-color: #2196f3;
	--primary-icons-color: #afb1b8;
	--card-set-gap: 20px;
	--start-color: blue;
 	--end-color: red;
	--bg-overlay: rgba(44, 51, 129, 0.4);
	/* RB4vGKR9mpfhzQS */
	
}

/* =====================Global css properties===================== */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* =====================body===================== */
body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.06em;
	scroll-behavior: smooth;
	color: var(--primary-title-color);
	background-color: var(--primary-white-color);
}

/* =====================Rules for reseting properties===================== */
.link {
	text-decoration: none;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* img { */
	/* display: block; */
/* } */
/*  */
/* =====================Container===================== */
.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	/* outline: 2px solid green; */
}

/* =====================Logo Web===================== */
.logo {
	font-family: Raleway;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;

	/* outline: 1px solid green; */

	/* identical to box height */
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--primary-black-color);
	/* shadow btn */
	
}

.logo:hover {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-accent {
	color: var(--accent-color);
}

/* =====================Navigation site===================== */

.header-section {

}
/* =====================Nav-Header===================== */
.maine-nav {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.maine-nav a {
	padding-top: 32px;
	padding-bottom: 32px;
}

.site-nav .link {
	display: block;
	padding-top: 32px;
 	padding-bottom: 32px;
	
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;

	color: var(--primary-title-color);
}

.site-nav {
	display: flex;
	margin-left: 93px;
}

.site-nav li::after,
.site-nav li::before {
	display: flex;
	content: "";
	background-image: url(../img/footer-social-link/instagram.svg);
	width: 20px;
	height: 20px;
	background-color: var(--primary-white-color);
	/* border-radius: 2px; */
	/* outline: 1px solid green; */
}

.site-nav li:not(:last-child) {
	margin-right: 40px;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
	cursor: pointer;
}


/* =====================Adress site=====================  */
.address a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;

	color: var(--primary-text-color);
}

.address-item-icon {
	margin-right: 10px;
}

.address a {
	display: inline-flex;
	align-items: center;
	/* outline: 1px solid rgb(74, 165, 0); */
	padding-top: 32px;
	padding-bottom: 32px;
}

.address {
	display: flex;
	margin-left: auto;
}


	
	


.address .list li:not(:last-child) {
	margin-right: 30px;
}

.address-item .link:hover,
.address-item .link:focus {
	color: var(--accent-color);
	cursor: pointer;	
}

/* ===================Hero-section=================== */

.hero-section {
	text-align: center;
}
.hero-section img {
	display: block;
}

.overlay {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--bg-color-overlay);
	background-image: linear-gradient(
	to right,
	var(--bg-overlay),
	var(--bg-overlay)),
	url("../img/img-overlay/head-img.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-flexbox {
	display: flex;
	align-items: center;
}

.hero-title {	
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 30px;
	max-width: 696px;


	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.363;

	/* or 136% */
	letter-spacing: 0.06em;
	text-transform: uppercase;

	/* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

	color: var(--primary-white-color);
}

/* ====================Hero-button==================== */
.hero-button {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;

	/* identical to box height, or 187% */
	letter-spacing: 0.06em;

	border: transparent;

	cursor: pointer;

	color: var(--primary-white-color);
}

.hero-button {
	padding-top: 10px;
	padding-right: 32px;
	padding-bottom: 10px;
	padding-left: 32px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background: var(--accent-color);

	min-width: 200px;
	min-height: 50px;
}

/* ====================visually-hidden==================== */
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}



/* ==================================Features==================== */
/* ==================================Advantages-features==================== */

.section-advantages {
	padding-top: 94px;
}

.advantages-features {
	display: flex;
	flex-wrap: wrap;
}

.advantages-info {
	margin-right: 30px;
	
}

.advantages-info {
	width: calc((100% - 30px * 3) / 4);
}
.advantages-icon-place {
	widows: 270px;
	height: 120px;
	border-radius: 4px;
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: var(--secondary-bg-color);
}

.advantages-icon {
	min-width: 70px;
	min-height: 70px;
}

.advantages-info h3 {

	margin-top: 30px;
	margin-bottom: 10px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--primary-title-color);
}
.advantages-info p {
	margin-top: 0;
	margin-bottom: 0;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;

	/* or 171% */
	letter-spacing: 0.03em;

	color: var(--primary-text-color);
}
.advantages-info:nth-child(4n) {
	margin-right: 0;
}

/* ===============Duties link==============  */
.duties .title-attachment {

	margin-top: 0;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.167;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--primary-title-color);

}

.title-attachment {
	margin-top: 0;
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.167;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--primary-title-color);

}

.duties-work {
	display: flex;
	flex-wrap: wrap;
}

.duties-solutions {
	margin-right: 30px;
}

.duties-solutions:nth-child(3n) {
	margin-right: 0;
}
.duties-solutions:nth-last-child(-n + 3) {
	margin-bottom: 0;	
}

/* ===================Our team==================== */
.section-our-team {
	background: var(--secondary-bg-color);
}


.team-member-information {
	padding-top: 30px;
	padding-bottom: 30px;
}

.our-team-personal {
	display: flex;
	flex-wrap: wrap;
}

.our-team-card:not(:nth-child(4n)) {
	margin-right: 30px;
}
.our-team-card {
	width: calc((100% - 30px * 3) / 4);
}


.our-team-title {
	margin-top: 0;
	margin-bottom: 50px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.167;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-title-color);
}
.our-team-card h3 {
	font-family: Roboto;													
	font-style: 400;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.187;

	/* identical to box height */
	text-align: center;
	letter-spacing: 0.03em;

	
	color: var(--primary-title-color);
}

.our-team-card h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

.our-team-card img {
	display: block;
}

.our-team-card p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.187;

	/* identical to box height */
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--primary-text-color);
}

.our-team-card p {
	margin-top: 0;
	margin-bottom: 16px;
}

.our-team-card {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.our-team-social-link {
	display: flex;
	justify-content: center;
}

.our-team-social-link a {
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.our-team-social-link-list {
	/* width:  calc((100% - 10px * 4) / 5); */
}


.our-team-social-link-icon {
	width: 20px;
	height: 20px;
}



.our-team-social-link-list {
	margin-right: 10px;
}


.our-team-social-link-list:nth-child(4n) {
	margin-right: 0;
}

/* =====================Regular-customers===================== */

.regular-customers-section {
	padding-top: 95px;
	padding-bottom: 91px;
}

.regular-customers-blank img {
	display: block;
}

.regular-customers-blank a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 90px;

	border-radius: 4px;
	border: 1px solid #AFB1B8;
}

.regular-customers-section-title {
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.166;

	text-align: center;

	letter-spacing: 0.03em;

	color: var(--primary-title-color);
}

.regular-customers-blank {
	display: flex;
	flex-wrap: wrap;
}

.regular-customers-blank li {
	width: calc((100% - 30px * 5) / 6 );
}

.regular-customers-blank li:not(:nth-child(6n)) {
	margin-right: 30px;
}

/* =====================Footer===================== */
.footer-section {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--footer-bg-color);
}

.footer-information {
	display: flex;
	align-items: baseline;
}
.footer-contacts-block {
	/* width: calc((100% - 30px) / 2); */
	margin-right: 70px;
}
/* =====================footer logo===================== */
.footer-logo {
	display: block;
	font-family: Raleway;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	text-decoration: none;

	margin-bottom: 20px;

	/* identical to box height */
	letter-spacing: 0.03em;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: var(--primary-white-color);
}
.footer-logo-accent {
	color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
	text-shadow: 0px 4px 4px var(--accent-color);
}


/* ======================Footer background====================== */


.contener {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 4px;
	background-color: #fff;
}

.footer-social-links-item:not(:last-child) {
	margin-right: 10px;
}

.footer-contacts-social-link img {
	display: block;
}
.footer-contacts-social-link {
	display: flex;
}

.footer-contacts-social-link a {
	justify-content: center;
	align-items: center;
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
/* ======================Footer location====================== */
.footer-adress p {
	font-style: normal;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;

	/* or 171% */
	letter-spacing: 0.03em;

	color: var(--primary-white-color);
}

/* ======================Footer adress====================== */
.footer-contacts .link {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;

	/* or 171% */
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
}
.footer-contacts a:hover,
.footer-contacts a:focus {
	color: var(--accent-color);
}

.footer-contacts li:not(:last-child) {
	margin-bottom: 8px;
}

.call-to-action {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-white-color);
}

/*====================== Portfolio-card page ======================*/
/*===================== Section-button =====================*/
.section-button {
	margin-top: 94px;
}

/* Portfolio-filter list */
.portfolio-filter button {
	padding-top: 6px;
	padding-right: 22px;
	padding-bottom: 6px;
	padding-left: 22px;
	border: transparent;
	border-radius: 4px;

	/* font-family: inherit; */
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;

	color: var(--primary-title-color);

	background-color: var(--secondary-bg-color);

	cursor: pointer;
	
	border-radius: 4px;	
}

/* ====================Portfolio-filter list==================== */
.portfolio-filter {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	/* outline: 1px solid green; */
}

.portfolio-filter li:not(:last-child) {
	margin-right: 8px;
}

.portfolio-filter button:hover,
.portfolio-filter button:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

	background-color: var(--accent-color);
	color: var(--primary-white-color);
}


/* ====================Portfolio-card==================== */ 
.portfolio-card {
	/* box-shadow: var(--card-shadow); */
	border: 1px solid #EEEEEE;
	border-radius: 4px;
  	overflow: hidden;
	/* outline: 1px solid red; */
	margin-bottom: 30px;
}

.portfolio-card {
	/* width: 370px; */
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
}

/* ====================Portfolio-projects==================== */
.portfolio-card:nth-child(3n) {
	margin-right: 0;
}
.portfolio-card:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
.portfolio-projects {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
}

.portfolio-project-information {
	padding-left: 24px;
	padding-bottom: 20px;
	padding-right: 24px;
}

.portfolio-projects img {
	display: block;
	/* outline: 1px solid green; */
}

/* ====================Portfolio-project-information==================== */
.portfolio-project-information h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;

	/* identical to box height, or 200% */
	letter-spacing: 0.06em;

	color: var(--primary-title-color);
	margin-top: 20px;	
	margin-bottom: 0;
}

.portfolio-project-information {
	/* outline: 1px solid blue; */
}

.portfolio-project-information p {
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;

	/* identical to box height, or 187% */
	letter-spacing: 0.03em;

	color: var(--primary-text-color);

	margin-top: 4px;

}


